[defaults]
inventory           = inventory/hosts.ini
remote_user         = root
private_key_file    = ~/.ssh/deploy
host_key_checking   = False
stdout_callback     = default
result_format       = yaml
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args   = -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=60s
